/* MOBILE STYLES */
.container{
    justify-items: center;
    text-align: center;
    width: 100%;
    overflow-y: hidden;
}
.name{
  padding: 10px 0;
  font-size: 3em;
  color: orange;
  font-weight: bold;
}
.welcome{
  margin-top: -20px;
  font-size: 2em;
  font-weight: bold;
}
.loginMsg{
  width: 80%;
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: bold;
}
.inputBox{
  margin: 10px auto;
  padding: 5px;
  width: 350px;
  height: 60px;
  border: 1px solid rgba(2, 2, 2, 0.4);
  border-radius: 10px;
  font-size: 1.5em;
}
.forgotPassword{
  display: flex;
  float: right;
  font-size: 1.2em;
}

.loginBtn{
  width: 350px;
  height: 60px;
  background-color: orange;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  font-size: 1.3em;
  font-weight: bold;
}
.loginBtn:hover{
  background-color: rgba(255, 166, 0, 0.767);
}

.loginBtn2{
  width: 350px;
  height: 60px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  font-size: 1.3em;
  font-weight: bold;
  background-color: rgb(240, 228, 228);
}
.loginBtn2:hover{
  background-color: rgb(189, 184, 184);
}
.signUp{
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.1em;
}
.signUp span{
  color: orange;
}