/* color variables */
:root {
    --primary: black;
    --secondary: orange;
    --tertiary:  white;
  }

  /* reset */
body,p,a,li{
    text-decoration: none;
    margin: 0;
    padding: 0px;
    list-style-type: none;
  }

  /* base styles */
body{
    background:var(--tertiary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }